@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
  <body class=" enable-animation">

   
    <div id="" class="fullheight" style="background-image: url('/asset/perfect2.jpg')">
        <div class="overlay dark-2" dark overlay [0 to 9 opacity]></div>

        <div class="display-table">
            <div class="display-table-cell vertical-align-middle">
                <div class="container">

                    <div class="slider-featured-text text-center">
                        <h1 class="text-white wow fadeinup" data-wow-delay="0.4s">
                            welcome to rocketelevator
                        </h1>
                        <h2 class="fw-300 text-white wow fadeinup" data-wow-delay="0.8s"> we create the perfect solution</h2>
                        <a class="btn btn-primary btn-lg wow fadeinup" data-wow-delay="1s" href="#">visit us</a>
                        <p>
                            <span class="block"><strong><i class="fa fa-map-marker"></i> address:</strong> 417-725 boulevard lebourgneuf, québec, qc g2j 0c4, canada</span>
                            <span class="block"><strong><i class="fa fa-phone"></i> phone:</strong> <a href="tel:1-418-555-1234">(418)555-1234</a></span>
                            <span class="block"><strong><i class="fa fa-envelope"></i> email:</strong> <a href="mailto:info@codeboxx.biz">info@codeboxx.biz</a></span>
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    

   </body>
</html>