@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<body class="smoothscroll enable-animation">

    <!-- wrapper -->
    <div id="wrapper">

        <div class="container">
                <div class="row">
                <!-- INFO -->
                <div class="col-md-4 col-sm-4">
                    <h2>Visit Us</h2>
                    <div id="map2" class="h-400"></div>
                    <hr />
                    <p>
                        <span class="block"><strong><i class="fa fa-map-marker"></i> Address:</strong> 417-725 Boulevard Lebourgneuf, Québec, QC G2J 0C4, Canada</span>
                        <span class="block"><strong><i class="fa fa-phone"></i> Phone:</strong> <a href="tel:1-418-555-1234">(418)555-1234</a></span>
                        <span class="block"><strong><i class="fa fa-envelope"></i> Email:</strong> <a href="mailto:info@codeboxx.biz">info@codeboxx.biz</a></span>
                    </p>
                </div>
            </div>
        </div>
     
    </div>
    <!-- /wrapper -->
    <!-- SCROLL TO TOP -->
</body>
</html>