@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<body class="smoothscroll enable-animation">

    <!-- wrapper -->
    <!--<div id="wrapper">

        <div class="container">
            <div class="row">-->
                <!-- INFO -->
                <!--<div class="col-md-4 col-sm-4">
                    <h2>Visit Us</h2>
                    <div id="map2" class="h-400"></div>
                    <hr />
                    <p>
                        <span class="block"><strong><i class="fa fa-map-marker"></i> Address:</strong> 417-725 Boulevard Lebourgneuf, Québec, QC G2J 0C4, Canada</span>
                        <span class="block"><strong><i class="fa fa-phone"></i> Phone:</strong> <a href="tel:1-418-555-1234">(418)555-1234</a></span>
                        <span class="block"><strong><i class="fa fa-envelope"></i> Email:</strong> <a href="mailto:info@codeboxx.biz">info@codeboxx.biz</a></span>
                    </p>
                </div>
            </div>
        </div>

    </div>-->
    <!-- /wrapper -->
    <!-- SCROLL TO TOP -->
    <!-- SLIDER -->
    <section id="slider" class="fullheight" style="background-image: url('/Asset/perfect2.jpg')">
        <div class="overlay dark-3"><!-- dark overlay [0 to 9 opacity] --></div>

        <div class="display-table">
            <div class="display-table-cell vertical-align-middle">
                <div class="container">

                    <div class="slider-featured-text text-center">
                        <h1 class="text-white wow fadeInUp" data-wow-delay="0.4s">
                            Welcome to RocketElevator
                        </h1>
                        <h2 class="fw-300 text-white wow fadeInUp" data-wow-delay="0.8s"> We create the Perfect solution</h2>
                        <a class="btn btn-primary btn-lg wow fadeInUp" data-wow-delay="1s" href="#">Visit Us</a>
                        <p>
                            <span class="block"><strong><i class="fa fa-map-marker"></i> Address:</strong> 417-725 Boulevard Lebourgneuf, Québec, QC G2J 0C4, Canada</span>
                            <span class="block"><strong><i class="fa fa-phone"></i> Phone:</strong> <a href="tel:1-418-555-1234">(418)555-1234</a></span>
                            <span class="block"><strong><i class="fa fa-envelope"></i> Email:</strong> <a href="mailto:info@codeboxx.biz">info@codeboxx.biz</a></span>
                        </p>
                    </div>

                </div>
            </div>
        </div>

    </section>
    <!-- /SLIDER -->

</body>
</html>