@model IEnumerable<Rocket_Elevators_Customer_Portal.Models.Customers> 
@{
    ViewData["Title"] = "Intervention";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "www.compilemode.com";
}

@*<div class="form-horizontal">
    <hr/>
    <div class="form-group">
        <table class="table table-responsive" style="width:400px">
            <tr>
                <th>
                    @Html.DisplayNameFor(Model => Model.CompanyName)
                </th>
            </tr>
        </table> 
    </div>
</div>*@

<div class="row no-gutters wow slideInUp" data-wow-duration="1s">

    <div class="container home-form col-md-4">

        <form action="/intervention" accept-charset="UTF-8" method="post"></form>
        <input name="utf8" type="hidden" value="" />
        <input type="hidden" name="authenticity_token" value="zXlxyK1caPs6YLbrH7+0TuIsVITmbND4Ezo8/0B64KHoG/OGQrOBSO11dVDybyepw87vld7ewKjVYewyZGJDfQ==" />


        <br />
        <div class="field">
            <span class="badge badge-primary">Customer</span>
            <label for="intervention_customer_id"></label>
            <input id="Customer" type="text" name="Customers" />
        </div>

        <div class="field building">
            <span class="badge badge-primary">Building</span>
            <label for="intervention_building_id"></label>
            <select name="building" id="building" class="custom-select" required="required">
                <option value="nil"> Building ID</option>
            </select>
        </div>

        <br />

        <div class="field battery">
            <span class="badge badge-primary">Battery</span>
            <label for="intervention_battery_id"></label>
            <select name="battery" id="battery" class="custom-select">
                <option value="nil"> Battery ID</option>
            </select>
        </div>

        <br />
        <div class="field column">
            <span class="badge badge-primary">Column</span>
            <label for="intervention_column_id"></label>
            <select name="column" id="column" class="custom-select">
                <option value="nil">Column ID</option>
            </select>
        </div>

        <br />

        <div class="field elevator">
            <span class="badge badge-primary">Elevator</span>
            <label for="intervention_elevator_id"></label>
            <select name="elevator" id="elevator" class="custom-select">
                <option value="nil">Elevator ID</option>
            </select>
        </div>

        <br />

        <div class="field employee">
            <span class="badge badge-primary">Employee</span>
            <label for="intervention_employee_id"></label>
            <select name="employee" id="employee" class="custom-select">
                <option value="">Employee Name</option>
                <option value="1">ID: 1 - Nicolas Genest</option>
                <option value="2">ID: 2 - Nadya Fortier</option>
                <option value="3">ID: 3 - Martin chantal</option>
                <option value="4">ID: 4 - Mathieu Houde</option>
                <option value="5">ID: 5 - David Boutin</option>
                <option value="6">ID: 6 - Mathieu Lortie</option>
                <option value="7">ID: 7 - Thomas Carrier</option>
                <option value="8">ID: 8 - Admin1 Admin1</option>
                <option value="9">ID: 9 - Admin Admin</option>
            </select>
        </div>

        <br />

        <div class="field">
            <span class="badge badge-primary">Report</span>
            <label for="intervention_report"></label>
            <textarea name="report[Description]" id="report_Description" cols="50" rows="3"></textarea>
        </div>

        <br />

        <div class="actions">
            <input type="submit" name="commit" value="Send Intervention" class="btn btn-primary" data-disable-with="Send Intervention" />
        </div>

    </div>
</div>
@section Scripts
{
<script type="text/javascript" src="~/js/Intervention.js"></script>
}