
@{
    ViewData["Title"] = "ProductManagement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row no-gutters wow slideInUp" data-wow-duration="1s">
    <div class="container home-form col-md-4">
        <div class="field Column">
            <label for="intervention_column_id">Column</label>
            <select name="column" id="column" class="custom-select">
                <option value="nil">Column ID</option>
            </select>
        </div>
    </div>
</div>

<div id="wrapper">


    <!-- CONTENT -->
    <section>
        <div class="container">


            <div class="clearfix">

                <div class="side-nav side-nav-custom float-left mt-0">

                    <div class="side-nav-head">
                        <button class="fa fa-bars"><!-- mobile button --></button>
                        <h4>NAVIGATION</h4>
                    </div>

                    <ul class="list-group list-unstyled mb-0">
                        <li class="list-group-item"><a href="Battery">My Battery</a></li>
                        <li class="list-group-item"><a href="Column">My Column</a></li>
                        <li class="list-group-item"><a href="Elevator">My Elevator</a></li>
                        <li class="list-group-item"><a href="index">Log Out</a></li>
                    </ul>

                </div>


                @*<div class="side-custom-content float-left mt-0">

                <h2 class="fs-16 font-regular mb-20 mt-6">
                    <i class="fa fa-bar-chart-o mr-10"></i> ELEVATOR SECTION
                    <span class="text-muted">(4)</span>
                </h2>*@


                <div class="table-responsive">

                    <section class="pb-0" id="interventions">
                        <div class="container-fluid text-center pl-80 pr-80">
                            <div class="col-md-12 pt-30">
                                <h1><span class="badge badge-danger">Column</span></h1>
                            </div>
                            <div class="row">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Building ID</th>
                                            <th scope="col">Address</th>
                                            <th scope="col">Battery</th>
                                            <th scope="col">Column</th>
                                            <th scope="col">Elevator</th>
                                            <th scope="col">Create Intervention</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @*< @interventions.each do |intervention| >*@                @*need to add the function to fill the table*@
                                        <tr scope="row">
                                            <th>building id</th>
                                            <td>address</td>
                                            <td>battery id</td>
                                            <td>column id</td>
                                            <td>elevator Id</td>
                                            <td>link_to 'Destroy', intervention, method: :delete, data: { confirm: 'Are you sure?' }</td>            @*need to add the function to push the info to request form*@
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </section>

                    @*</div>*@


                    <div class="alert alert-light b-0">
                        Sorry, you have no orders!
                    </div>


                </div>

            </div>


        </div>
    </section>
    <!-- /CONTENT -->


</div>
<!-- /wrapper -->