
@{
    ViewData["Title"] = "ProductManagement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<div class="row no-gutters wow slideInUp" data-wow-duration="1s">
    <div class="container home-form col-md-4">
        <div class="field Column">
            <label for="intervention_column_id">Column</label>
            <select name="column" id="column" class="custom-select">
                <option value="nil">Column ID</option>
            </select>
        </div>
    </div>
</div>

<div id="wrapper">*@


    <!-- CONTENT -->
    <section>
        <div class="container">


            <div class="clearfix">

                <div class="side-nav side-nav-custom float-left mt-0">

                    <div class="side-nav-head">
                        <button class="fa fa-bars"><!-- mobile button --></button>
                        <h4>NAVIGATION</h4>
                    </div>

                    <ul class="list-group list-unstyled mb-0">
                        <li class="list-group-item"><a href="pack-megashop-account-wishlist.html">My Wishlist</a></li>
                        <li class="list-group-item active"><a href="pack-megashop-account-orders.html">My Orders</a></li>
                        <li class="list-group-item"><a href="pack-megashop-account-settings.html">My Settings</a></li>
                        <li class="list-group-item"><a href="#">Log Out</a></li>
                    </ul>

                </div>


                <div class="side-custom-content float-left mt-0">

                    <h2 class="fs-16 font-regular mb-20 mt-6">
                        <i class="fa fa-bar-chart-o mr-10"></i> MY ORDERS
                        <span class="text-muted">(4)</span>
                    </h2>


                    <div class="table-responsive">

                        <table class="table table-hover fs-16 fw-400">
                            <thead class="fs-14">
                                <tr>
                                    <th class="w-100 fw-600">ID</th>
                                    <th class="fw-600">DATE</th>
                                    <th class="w-200 fw-600">STATUS</th>
                                    <th class="w-150 fw-600 text-center">PRODUCTS</th>
                                    <th class="w-150 fw-600 text-center">TOTAL</th>
                                    <th class="w-150 fw-600 text-center"></th>
                                </tr>
                            </thead>

                            <tbody class="fs-14">
                                <tr>
                                    <td>4155</td>
                                    <td>Mon, Jun 5, 2017 / 11:05</td>
                                    <td class="text-warning">PROCESSING</td>
                                    <td class="text-center">3</td>
                                    <td class="text-center fw-400 fs-18">$88.99</td>
                                    <td class="text-center">
                                        <a href="pack-megashop-account-invoice.html" class="btn btn-flat btn-v1 btn-sm"><i class="fa fa-eye m-0 p-3"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>3122</td>
                                    <td>Wed, Apr 24, 2017 / 11:05</td>
                                    <td class="text-success">DELIVERED</td>
                                    <td class="text-center">8</td>
                                    <td class="text-center fw-400 fs-18">$690.44</td>
                                    <td class="text-center">
                                        <a href="pack-megashop-account-invoice.html" class="btn btn-flat btn-v1 btn-sm"><i class="fa fa-eye m-0 p-3"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2354</td>
                                    <td>Tue, Feb 3, 2017 / 09:44</td>
                                    <td class="text-muted">
                                        CANCELED
                                        <small class="block fs-12 fw-200">by request</small>
                                    </td>
                                    <td class="text-center">3</td>
                                    <td class="text-center fw-400 fs-18">$188.65</td>
                                    <td class="text-center">
                                        <a href="pack-megashop-account-invoice.html" class="btn btn-flat btn-v1 btn-sm"><i class="fa fa-eye m-0 p-3"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>3122</td>
                                    <td>Wed, Apr 24, 2017 / 11:05</td>
                                    <td class="text-danger">
                                        REJECTED
                                        <small class="block fs-12 fw-200">Invalid Credit Card</small>
                                    </td>
                                    <td class="text-center">2</td>
                                    <td class="text-center fw-400 fs-18">$243.22</td>
                                    <td class="text-center">
                                        <a href="pack-megashop-account-invoice.html" class="btn btn-flat btn-v1 btn-sm"><i class="fa fa-eye m-0 p-3"></i></a>
                                    </td>
                                </tr>
                            </tbody>

                        </table>

                    </div>


                    <div class="alert alert-light b-0">
                        Sorry, you have no orders!
                    </div>


                </div>

            </div>


        </div>
    </section>
    <!-- /CONTENT -->


</div>
<!-- /wrapper -->