
@{
    ViewData["Title"] = "ProductManagement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row no-gutters wow slideInUp" data-wow-duration="1s">
    <div class="container home-form col-md-4">
        <div class="field Elevator">
            <label for="intervention_elevator_id">Elevator</label>
            <select name="elevator" id="elevator" class="custom-select">
                <option value="nil">Elevator ID</option>
            </select>
        </div>
    </div>
</div>