
@{
    ViewData["Title"] = "ProductManagement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Product Management</title>

</head>
<body>
    <section>
        <div class="container">
            <div class="row">
                <div class=" col-lg-9 col-md-9 col-sm-8 order-md-2 order-sm-2 mb-80">

                    <ul class="nav nav-tabs nav-top-border">
                        <li class="nav-item"><a class="btn btn-outline-danger mdl-js-button mdl-js-ripple-effect" href="#info" data-toggle="tab">Personal Info</a></li>
                        <li class="nav-item">
                            <a class="btn btn-outline-primary mdl-js-button mdl-js-ripple-effect" asp-area="" asp-controller="ProductManagement" asp-action="Battery">Product</a>
                        </li>

                    </ul>
                </div>
                <div class="tab-content mt-20">


                    <!--</div>-->
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">

                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Management</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

<!-- -->
<section>
    <div class="container">
        <div class="row">


          
            <form class="validate" action="php/contact.php" method="post" enctype="multipart/form-data" data-success="Sent! Thank you!" data-toastr-position="top-right">
                <fieldset>
                    <!-- required [php action request] -->
                    <input type="hidden" name="action" value="contact_send" />

                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <label>First Name *</label>
                            <input type="text" name="contact[first_name]" value="" class="form-control required">
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <label>Last Name *</label>
                            <input type="text" name="contact[last_name]" value="" class="form-control required">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <label>Email *</label>
                            <input type="email" name="contact[email]" value="" class="form-control required">
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <label>Phone *</label>
                            <input type="text" name="contact[phone]" value="" class="form-control required">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <label>Position *</label>
                            <select name="contact[position]" class="form-control pointer required">
                                <option value="">--- Select ---</option>
                                <option value="Marketing">PR & Marketing</option>
                                <option value="Developer">Web Developer</option>
                                <option value="php">PHP Programmer</option>
                                <option value="Javascript">Javascript Programmer</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <label>Company Name *</label>
                            <input type="text" name="contact[company_name]" value="" class="form-control required">
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <label>Start Date *</label>
                            <input type="text" name="contact[start_date]" value="" class="form-control datepicker required" data-format="yyyy-mm-dd" data-lang="en" data-RTL="false">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <label>Experience *</label>
                            <textarea name="contact[experience]" rows="4" class="form-control required"></textarea>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <label>
                                Website
                                <small class="text-muted">- optional</small>
                            </label>
                            <input type="text" name="contact[website]" placeholder="http://" class="form-control">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <label>
                                File Attachment
                                <small class="text-muted">Curriculum Vitae - optional</small>
                            </label>

                            <!-- custom file upload -->
                            <input class="custom-file-upload" name="contact[attachment]" type="file" id="file" data-btn-text="Select a File" />
                            <small class="text-muted block">Max file size: 10Mb (zip/pdf/jpg/png)</small>

                        </div>
                    </div>

                </fieldset>



            </form>
        </div>
    </div>

</section>
</body>
</html>