
@{
    ViewData["Title"] = "ProductManagement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Product Management</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />*@
</head>

<head>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">

                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Management</a>
                    </li>
                    @*<li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="ProductManagement" asp-action="Battery">Battery</a>
                    </li>*@
                    @*<li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="ProductManagement" asp-action="Column">Column</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="ProductManagement" asp-action="Elevator">Elevator</a>
                    </li>*@
                </ul>
            </div>
        </div>
    </nav>
</head>
<!-- -->
<section>
    <div class="container">
        <div class="row">

            <!-- RIGHT -->

            <div class=" col-lg-9 col-md-9 col-sm-8 order-md-2 order-sm-2 mb-80">

                <ul class="nav nav-tabs nav-top-border">
                    <li class="nav-item"><a class="btn btn-outline-danger mdl-js-button mdl-js-ripple-effect" href="#info" data-toggle="tab">Personal Info</a></li>
                    @*<li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="ProductManagement" asp-action="Building">Building</a>
                    </li>*@
                    @*<li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="ProductManagement" asp-action="Battery">Battery</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="ProductManagement" asp-action="Column">Column</a>
                    </li>*@
                    <li class="nav-item">
                        <a class="btn btn-outline-primary mdl-js-button mdl-js-ripple-effect" asp-area="" asp-controller="ProductManagement" asp-action="Building">Product</a>
                    </li>
                    @*<li class="nav-item"><a class="nav-link text-dark" href="building" data-toggle="tab">Product</a></li>*@
                </ul>

                <div class="tab-content mt-20">

                    <!-- PERSONAL INFO TAB -->
                    <div class="tab-pane active box-static box-border-top p-30" id="info">
                        <form action="#" method="post">
                            <div class="form-group">
                                <label class="form-control-label">First Name</label>
                                <input type="text" placeholder="" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">Last Name</label>
                                <input type="text" placeholder="" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">Phone Number</label>
                                <input type="text" placeholder="+1888-88-8888" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">Company Name</label>
                                <input type="text" placeholder="" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">Project Name</label>
                                <input type="text" placeholder="" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">Message</label>
                                <textarea class="form-control" rows="3" placeholder="Message here..."></textarea>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">Website Url</label>
                                <input type="text" placeholder="http://www.yourwebsite.com" class="form-control">
                            </div>
                            <div class="margiv-top10">
                                <a href="#" class="btn btn-primary"><i class="fa fa-check"></i> Save Changes </a>
                                <a href="#" class="btn btn-danger">Cancel </a>
                            </div>
                        </form>
                    </div>
              
                    <!-- /PERSONAL INFO TAB -->
                    <!-- Battery TAB -->
                    @*<div class="tab-pane fade" id="battery">

                        <form action="#" method="post">

                            <div class="form-group">
                                <label class="form-control-label">Building</label>
                                <input type="password" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">Battery Number</label>
                                <input type="password" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">New Battery</label>
                                <input type="password" class="form-control">
                            </div>

                            <div class="margiv-top10">
                                <a href="#" class="btn btn-primary"><i class="fa fa-check"></i> Changes </a>
                                <a href="#" class="btn btn-default">Cancel </a>
                            </div>
                        </form>

                    </div>*@
                    <!-- /Battery TAB -->
                    <!-- Column TAB -->
                    <div class="tab-pane fade" id="column">

                        <form action="#" method="post">

                            <div class="form-group">
                                <label class="form-control-label">Building</label>
                                <input type="password" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">Column</label>
                                <input type="password" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">Battery</label>
                                <input type="password" class="form-control">
                            </div>
                            <div class="margiv-top10">
                                <a href="#" class="btn btn-primary"><i class="fa fa-check"></i> Changes </a>
                                <a href="#" class="btn btn-default">Cancel </a>
                            </div>

                        </form>

                    </div>
                    <!-- /Column TAB -->
                    <!-- Elevator TAB -->
                    <div class="tab-pane fade" id="elevator">

                        <form action="#" method="post">
                            <div class="sky-form">

                                <table class="table table-bordered table-striped">
                                    <tbody>
                                        <tr>
                                            <td>Do you need maintenance on this Elevator?</td>
                                            <td>
                                                <div class="inline-group">
                                                    <label class="radio mt-0 mb-0">
                                                        <input type="radio" name="radioOption" checked=""><i></i> Yes
                                                    </label>

                                                    <label class="radio mt-0 mb-0">
                                                        <input type="radio" name="radioOption" checked=""><i></i> No
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Do you want to upgrad?</td>
                                            <td>
                                                <label class="checkbox m-0">
                                                    <input type="checkbox" name="checkbox" checked=""><i></i> Yes
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Do you need to have a technician on site?</td>
                                            <td>
                                                <label class="checkbox m-0">
                                                    <input type="checkbox" name="checkbox" checked=""><i></i> Yes
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Do you need to speack with your representant?</td>
                                            <td>
                                                <label class="checkbox m-0">
                                                    <input type="checkbox" name="checkbox" checked=""><i></i> Yes
                                                </label>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>

                            <div class="mt-10">
                                <a href="#" class="btn btn-primary"><i class="fa fa-check"></i> Save Changes </a>
                                <a href="#" class="btn btn-default">Cancel </a>
                            </div>

                        </form>

                    </div>
                    <!-- /Elevator TAB -->
                    <!-- Product TAB -->
                    <div class="tab-pane fade flex-md-row-reverse pricetable-container" id="product">

                        <div id="wrapper">


                            <!-- CONTENT -->
                            <section>
                                <div class="container">


                                    <div class="clearfix">

                                        <div class="side-nav side-nav-custom float-left mt-0">

                                            <div class="side-nav-head">
                                                <button class="fa fa-bars"><!-- mobile button --></button>
                                                <h4>My Products</h4>
                                            </div>

                                            <ul class="list-group list-unstyled mb-0">
                                                <li class="list-group-item"><a href="">My Building</a></li>
                                                <li class="list-group-item active"><a href="">My Battery</a></li>
                                                <li class="list-group-item"><a href="">My Column</a></li>
                                                <li class="list-group-item"><a href="#">Elevator</a></li>
                                            </ul>

                                        </div>


                                        <div class="side-custom-content float-left mt-0">

                                            <h2 class="fs-16 font-regular mb-20 mt-6 text-primary">
                                                ORDER No. 4155
                                                <span class="block fs-14">
                                                    23 June 2017
                                                </span>
                                            </h2>


                                            <hr>


                                            <div class="row ml-0 mrad-0">

                                                <div class="col-sm-6">
                                                    <h4>BILL TO</h4>
                                                    <div class="block">Name</div>
                                                    <div class="block">Company</div>
                                                    <div class="block">Street Address</div>
                                                    <div class="block">City, Zip Code</div>
                                                    <div class="block">Phone</div>
                                                </div>

                                                <div class="col-sm-6">
                                                    <h4>SHIP TO</h4>
                                                    <div class="block">Name</div>
                                                    <div class="block">Company</div>
                                                    <div class="block">Street Address</div>
                                                    <div class="block">City, Zip Code</div>
                                                    <div class="block">Phone</div>
                                                </div>

                                            </div>


                                            <div class="table-responsive mt-60">

                                                <table class="table table-bordered fs-16 fw-400">
                                                    <thead class="fs-14">
                                                        <tr>
                                                            <th class="fw-600">BUILDING</th>
                                                            <th class="fw-600">BATTERY</th>
                                                            <th class="fw-600">COLUMN</th>
                                                            <th class="fw-600">ELEVATOR</th>
                                                        </tr>
                                                    </thead>

                                                    <tbody class="fs-14">
                                                        <tr>
                                                            <td>building_id</td>
                                                            <td>2</td>
                                                            <td>id</td>
                                                            <td>id</td>
                                                        </tr>
                                                        <tr>
                                                            <td>building_id</td>
                                                            <td>1</td>
                                                            <td>id</td>
                                                            <td>id</td>
                                                        </tr>
                                                        <tr class="b-0 fs-16">
                                                            <td class="b-0"</td>
                                                            <td class="b-0"></td>
                                                            <td class="fw-600">TOTAL</td>
                                                            <td class="fw-600">$167.43</td>
                                                        </tr>
                                                    </tbody>

                                                </table>

                                            </div>


                                            <div class="block mt-30">

                                                <p>
                                                    <b>Observations:</b> Building details
                                                </p>

                                                <p>
                                                    <b>Order Status:</b> <span class="text-success">Delivered</span>
                                                    <span class="block fs-14">
                                                        23 June 2017
                                                    </span>
                                                </p>

                                                </di
                                                v>

                                            </div>

                                        </div>


                                    </div>
                            </section>
                            <!-- /CONTENT -->


                        </div>
                        <!-- /wrapper -->
                        <!-- /Product TAB -->
                    </div>

            </div>

        </div>
    </div>
</section>
<!-- / -->


</html>