
@{
    ViewData["Title"] = "ProductManagement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Product Management</title>
</head>
  
<body>
    <section>
        <div class="container">
            <div class="row">
                <div class=" col-lg-9 col-md-9 col-sm-8 order-md-2 order-sm-2 mb-80">
                    <ul class="nav nav-tabs nav-top-border">
                        <li class="nav-item"><a class="btn btn-outline-danger mdl-js-button mdl-js-ripple-effect" href="#info" data-toggle="tab">Personal Info</a></li>
                        <li class="nav-item">
                            <a class="btn btn-outline-primary mdl-js-button mdl-js-ripple-effect" asp-area="" asp-controller="ProductManagement" asp-action="Battery">Product</a>
                        </li>

                    </ul>
                </div>
                <div class="tab-content mt-20">
                    <!--</div>-->
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Management</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

<!-- -->
<section>
    <div class="container">
        <div class="row">
            <form class="validate" action="php/contact.php" method="post" enctype="multipart/form-data" data-success="Sent! Thank you!" data-toastr-position="top-right">
                <fieldset>
                    <!-- required [php action request] -->
                    <input type="hidden" name="action" value="contact_send" />
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <label>Company Name *</label>
                            <input type="text" name="contact[company_name]" value="" class="form-control required">
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <label>Contact Full Name *</label>
                            <input type="text" name="contact[cpy_contact_full_name]" value="" class="form-control required">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <label>Phone *</label>
                            <input type="text" name="contact[cpy_contact_phone]" value="" class="form-control required">
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <label>Contact Email *</label>
                            <input type="email" name="contact[cpy_contact_email]" value="" class="form-control required">
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <label>Description *</label>
                            <textarea name="contact[cpy_description]" rows="4" class="form-control required"></textarea>
                            @*<input type="text" name="contact[cpy_description]" value="" class="form-control required">*@
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <label>Tech. Authority Service Full Name *</label>
                            <input type="text" name="contact[tech_authority_service_full_name]" value="" class="form-control required">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <label>Tech.Service Phone *</label>
                            <input type="text" name="contact[tech_authority_service_phone]" value="" class="form-control required">
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <label>Tech. Manager Service Email *</label>
                            <input type="email" name="contact[tech_manager_service_email]" value="" class="form-control required">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            @*<button type="submit" class="btn btn-3d btn-teal btn-xlg btn-block mt-30">*@
                            <button type="submit" class="btn btn-primary btn-lg btn-block">CONFIRM CHANGE</button>

                            <span class="block font-lato">Thank you!</span>
                            @*</button>*@
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</section>
</body>
</html>