
@{
    ViewData["Title"] = "ProductManagement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Product Management</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />*@
</head>
<body>
    <section>
        <div class="container">
            <div class="row">

                <!-- RIGHT -->

                <div class=" col-lg-9 col-md-9 col-sm-8 order-md-2 order-sm-2 mb-80">

                    <ul class="nav nav-tabs nav-top-border">
                        <li class="nav-item"><a class="nav-link text-dark" href="#info" data-toggle="tab">Personal Info</a></li>
                        <li class="nav-item"><a class="nav-link text-dark" href="#battery" data-toggle="tab">Battery</a></li>
                        <li class="nav-item"><a class="nav-link text-dark" href="#column" data-toggle="tab">Column</a></li>
                        <li class="nav-item"><a class="nav-link text-dark" href="#elevator" data-toggle="tab">Elevator</a></li>
                        <li class="nav-item"><a class="nav-link text-dark" href="#product" data-toggle="tab">Product</a></li>
                    </ul>

                    <div class="tab-content mt-20">





            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">

                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Management</a>
                    </li>
                    @*<li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="ProductManagement" asp-action="Battery">Battery</a>
                    </li>*@
                    @*<li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="ProductManagement" asp-action="Column">Column</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="ProductManagement" asp-action="Elevator">Elevator</a>
                    </li>*@
                </ul>
            </div>
        </div>
    </nav>
</head>
<!-- -->
<section>
    <div class="container">
        <div class="row">

            <!-- RIGHT -->

            <div class=" col-lg-9 col-md-9 col-sm-8 order-md-2 order-sm-2 mb-80">

                <ul class="nav nav-tabs nav-top-border">
                    <li class="nav-item"><a class="btn btn-outline-danger mdl-js-button mdl-js-ripple-effect" href="#info" data-toggle="tab">Personal Info</a></li>
                    @*<li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="ProductManagement" asp-action="Building">Building</a>
                    </li>*@
                    @*<li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="ProductManagement" asp-action="Battery">Battery</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="ProductManagement" asp-action="Column">Column</a>
                    </li>*@
                    <li class="nav-item">
                        <a class="btn btn-outline-primary mdl-js-button mdl-js-ripple-effect" asp-area="" asp-controller="ProductManagement" asp-action="Building">Product</a>
                    </li>
                    @*<li class="nav-item"><a class="nav-link text-dark" href="building" data-toggle="tab">Product</a></li>*@
                </ul>

                <div class="tab-content mt-20">

                    <!-- PERSONAL INFO TAB -->
                    <div class="tab-pane active box-static box-border-top p-30" id="info">
                        <form action="#" method="post">
                            <div class="form-group">
                                <label class="form-control-label">First Name</label>
                                <input type="text" placeholder="" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">Last Name</label>
                                <input type="text" placeholder="" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">Phone Number</label>
                                <input type="text" placeholder="+1888-88-8888" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">Company Name</label>
                                <input type="text" placeholder="" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">Project Name</label>
                                <input type="text" placeholder="" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">Message</label>
                                <textarea class="form-control" rows="3" placeholder="Message here..."></textarea>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">Website Url</label>
                                <input type="text" placeholder="http://www.yourwebsite.com" class="form-control">
                            </div>
                            <div class="margiv-top10">
                                <a href="#" class="btn btn-primary"><i class="fa fa-check"></i> Save Changes </a>
                                <a href="#" class="btn btn-danger">Cancel </a>
                            </div>
                        </form>
                    </div>
              
                    <!-- /PERSONAL INFO TAB -->




</body>
</html>